---
layout: page
# The Archives of posts.
---

<!--{% include lang.html %}-->

<!--{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}-->
<!--{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}-->

<!--<div id="archives" class="pl-xl-3">-->
<!--  {% assign last_year = null %}-->
<!--  {% for year_data in site.data.resume.education %}-->
<!--  {% assign cur_year = year_data.year %}-->

<!--  {% if cur_year != last_year %}-->
<!--  {% if forloop.index0 != 0 %}</ul>{% endif %}-->

<!--  <time class="year lead d-block">{{ cur_year }}</time>-->
<!--  <ul class="list-unstyled">-->

<!--    {% assign last_year = cur_year %}-->
<!--    {% endif %}-->

<!--    {% for event in year_data.events %}-->
<!--    <li>-->
<!--      {% assign ts = event.date | date: '%s' %}-->
<!--      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ event.date | date: '%d' }}</span>-->
<!--      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">-->
<!--          {{ event.date | date: df_strftime_m }}-->
<!--        </span>-->

<!--&lt;!&ndash;      <a href="">{{ event.title }}</a>&ndash;&gt;-->
<!--      <a href="#" style="color: inherit; text-decoration: none; cursor: default;">{{ event.title }}</a>-->
<!--    </li>-->
<!--    {% endfor %}-->

<!--    {% if forloop.last %}</ul>{% endif %}-->
<!--  {% endfor %}-->
<!--</div>-->

{% include lang.html %}

<!--<div id="resume" class="pl-xl-3">-->
<!--  {% assign last_start_end = null %}-->

<!--  {% for entry in site.data.resume.education %}-->
<!--  {% assign start_year = entry.start_year %}-->
<!--  {% assign end_year = entry.end_year %}-->
<!--  {% assign current_range = start_year | append: '' | append: end_year %}-->

<!--  {% if current_range != last_start_end %}-->
<!--  {% if forloop.index0 != 0 %}</ul>{% endif %}-->

<!--  <time class="year lead d-block">{{ end_year }}</time>-->
<!--&lt;!&ndash;  <time class="year lead d-block">2023</time>&ndash;&gt;-->
<!--  <ul class="list-unstyled">-->

<!--&lt;!&ndash;    {% assign last_start_end = current_range %}&ndash;&gt;-->
<!--&lt;!&ndash;    {% endif %}&ndash;&gt;-->

<!--    {% for event in entry.events %}-->
<!--    <li>-->
<!--        <a href="#" style="color: inherit; text-decoration: none; cursor: default; margin-left: 100px">{{ event.title }}</a>-->
<!--    </li>-->
<!--    {% endfor %}-->

<!--    {% if forloop.last %}</ul>{% endif %}-->
<!--  {% endfor %}-->
<!--</div>-->


<!--<div class="row">-->
<!--  <div class="col-lg-12">-->
<!--    <div class="timeline block mb-4">-->
<!--      <h3>Education</h3>-->
<!--      <div class="tl-item active">-->
<!--        <div class="tl-dot b-primary"></div>-->
<!--        <div class="tl-content">-->
<!--          <div class="">PhD Student at the Australian Institute for Machine Learning (AIML)</div>-->
<!--          <div class="tl-date text-muted mt-1">2023 - Present</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tl-item">-->
<!--        <div class="tl-dot b-primary"></div>-->
<!--        <div class="tl-content">-->
<!--          <div class="">Do you know how Google search works.</div>-->
<!--          <div class="tl-date text-muted mt-1">45 minutes ago</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tl-item">-->
<!--        <div class="tl-dot b-primary"></div>-->
<!--        <div class="tl-content">-->
<!--          <div class="">Thanks to <a href="#" data-abc="true">@apple</a>, for iphone 7</div>-->
<!--          <div class="tl-date text-muted mt-1">1 day ago</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tl-item">-->
<!--        <div class="tl-dot b-primary"></div>-->
<!--        <div class="tl-content">-->
<!--          <div class="">Order placed <a href="#" data-abc="true">@eBay</a> you will get your products</div>-->
<!--          <div class="tl-date text-muted mt-1">1 Week ago</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tl-item">-->
<!--        <div class="tl-dot b-primary"></div>-->
<!--        <div class="tl-content">-->
<!--          <div class="">Learn how to use <a href="#" data-abc="true">Google Analytics</a> to discover vital information about your readers.</div>-->
<!--          <div class="tl-date text-muted mt-1">3 days ago</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-lg-12">
    <div class="timeline block mb-4">
      <!--   Publications Section   -->
      <div class="timeline block mb-4">
        <h3>Publications</h3>
        {% for item in site.data.resume.publications %}
        <div class="tl-item">
          <div class="tl-dot b-primary"></div>
          <div class="tl-content">
            <div class="">{{ item.title }} - {{ item.publication }}</div>
            <div class="tl-date text-muted mt-1">{{ item.date }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--   Education Section   -->
      <h3>Education</h3>
      {% for item in site.data.resume.education %}
      <div class="tl-item">
        <div class="tl-dot b-primary"></div>
        <div class="tl-content">
          <div class="">{{ item.degree }} at {{ item.institution }}</div>
          <div class="tl-date text-muted mt-1">{{ item.date }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--  Experiences Section  -->
    <div class="timeline block mb-4">
      <h3>Experience</h3>
      {% for item in site.data.resume.experience %}
      <div class="tl-item">
        <div class="tl-dot b-primary"></div>
        <div class="tl-content">
          <div class="">{{ item.position }} at {{ item.company }}</div>
          <div class="tl-date text-muted mt-1">{{ item.date }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
